@import './partials/colors.scss';
@import './partials/sizes.scss';

.Question {
  & > header {
    border-bottom: 1px solid $light_grey;
    padding: $large;
  }
}

.Question__prompt {
  margin-bottom: 0;
}
